a:link, a:visited {
    color: #666;
}

a:hover {
    color: #000;
}

#header {
    background: #a70d0d;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

#header a:hover {
    color: #f5c8c8;
    border-color: #f5c8c8;
}

div.breadcrumbs {
    color: #f5c8c8;
    background: #d34a4a;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #ead9d9;
}

.module h2, .module caption, .inline-group h2 {
    background: #d34a4a;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #d34a4a;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #c93d3d;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #a70d0d;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background: #970303;
}

.selector-chosen h2 {
    background: #a70d0d !important;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: #d34a4a;
}

.paginator a:link, .paginator a:visited {
    background: #d34a4a !important;
}

.paginator a:focus, .paginator a:hover {
    background: #a70d0d !important;
    cursor: pointer;
}

.paginator a.showall {
    background: none !important;
    color: #d34a4a !important;
}

.paginator a.showall:focus, .paginator a.showall:hover {
    color: #a70d0d !important;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus, select:focus, .vTextField:focus {
    border-color: #f5c8c8;
}

.object-tools a[disabled] {
    background-color: #bbb !important;
    cursor: default;
}
