body{
	margin: 0;
	font-size: 26px;
}
.info {
	background: #dfd;
	padding: 10px;
	color: #333;
	text-align: center; 
}
#header{
	background:  #a70d0d;
	font-size: 350%;
	padding: 2%;
	color: white;
	text-align: center;
	margin: auto;
	border-bottom: 5px solid #d34a4a;
}
.account_form{
	font-size: 180%;
	width: 70%;
	margin: auto;
	padding-top: 5%
}
.account_form >*{
	width: 100%;
	height: 40px;
	margin: 10px;
	outline-color:  #a70d0d;
}
input{
	font-size: 26px;
}
#submit_changes{
	background:  #a70d0d;
	color: white;
	border: none;
	padding: 5px;
	height: 60px;
	font-size: 100%;
	-webkit-appearance: none;
	border-radius: 0;
}
