{% extends "admin/index.html" %}

{% block content %}
<div class="app-auth module" style="float: left; width: 49%;">
    <table width="100%">
        <caption>Credit Wallet</caption>
        <tbody>
            <tr class="model-group">
                <th scope="row" style="text-align: center; padding: 20px 0;">
                    <a href="{% url 'wallet_management' main_wallet.owner_id %}" style="font-size: 20px;">{{ main_balance }}</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="app-auth module" style="float: right; width: 49%;">
    <table width="100%">
        <caption>Cash Wallet</caption>
        <tbody>
            <tr class="model-group">
                <th scope="row" style="text-align: center; padding: 20px 0;">
                    <a href="{% url 'wallet_management' cash_wallet.owner_id %}" style="font-size: 20px;">{{ cash_balance }}</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="app-auth module" style="float: left; width: 49%;">
    <table width="100%">
        <caption>Swish number</caption>
        <tbody>
            <tr class="model-group">
                <th scope="row" style="text-align: center; padding: 20px 0; font-size: 20px;">
                    {{ swish_number}}
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="app-auth module" style="float: right; width: 49%;">
    <table width="100%">
        <caption>Credit account</caption>
        <tbody>
            <tr class="model-group">
                <th scope="row" style="text-align: center; padding: 20px 0; font-size: 20px;">
                    {{ credit_account_balance }}
                </th>
            </tr>
        </tbody>
    </table>
</div>
{{ block.super }}
{% endblock content %}
